body,
html {
    height: 100%;
    margin: 0;
}

main {
    height: 100%;
}

#onOff {
    z-index: 3;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    position: absolute;
}

#onOff:hover {
    cursor: pointer;
}

.on {
    background-color: green;
}

.off {
    background-color: red;
}

#televisor {
    display: flex;
    height: 100%;
    background-color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
}

.tvImg {
    z-index: 2;
    position: relative;
    height: 100%;
    width: 100%;
}

.tvImg2 {
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
}

.oculto {
    display: none;
}

.filtro{
    z-index: 1;
    background: url("../img/ruido.gif");
    opacity: 30%;
    height: 100%;
    width: 100%;
    position: absolute;
}

#selectores {
    z-index: 3;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
}

.selector {
    border-radius: 100%;
    background-color: yellow;
    height: 100px;
    margin: 50px;
}

.selector:hover {
    cursor: pointer;
}

#derecha{
    transform: scaleX(-1);
}